<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
      <p>
        Desarrollador FullStack bilingüe con formación en Ingeniería en Informática hasta el 7mo semestre. Egresado del bootcamp SoyHenry, con experiencia en el desarrollo de aplicaciones en equipo utilizando las siguientes tecnologías: HTML, CSS, Javascript, React, Redux, Sequelize, PostgreSQL, Express.js, Node.js, y Git.
      </p>
  
      <p>
        En el bootcamp pude ejercitar mis capacidades técnicas tanto individualmente como socialmente en el desarrollo de varias aplicaciones.
      </p>
  
      <p>
        Soy una persona responsable y dedicada con facilidad para el trabajo en equipo, mucha constancia para encontrar los resultados deseados, dispuesto a aprender de otros y ayudar a aquellos que lo necesiten. Apasionado por los retos y por aprender sobre nuevas tecnologías que me puedan ayudar a crecer como desarrollador.
      </p>
    </div>
    <img src="/profilepic.jpg" class="rounded-full size-64 order-1 md:order-2" />
  </section>