---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
{
    date: "Marzo 2023",
    title: "Desarrollador de un Chatbot",
    company: "MatesFabi",
    description:
      "Desarrollo de un chatbot usando la API de OpenAI, donde le puedes hacer cualquier pregunta ó comentario al chatbot y este responderá como si estuvieras hablando con ChatGPT.",
  },
  {
    date: "Junio 2023 -Julio 2023",
    title: "Desarrollador FullStack de una E-commerce - SoyHenry",
    company: "SoyHenry",
    description:
      "Participación en el desarrollo grupal de 7 personas de una E-commerce de venta de viandas de comida, utilizando metodologías ágiles (SCRUM) siendo presentado una vez por semana ante un Product Owner. Dicho proyecto cuenta con los siguientes features: Registro y Login con mail y/o google, perfil de usuario, reseñas, pasarela de pago, seguimiento y detalles de los pedidos, historial de compras, carrito y favoritos.",
  },
  {
    date: "Mayo 2023 -Junio 2023",
    title: "Desarrollador FullStack de una SPA - SoyHenry",
    company: "SoyHenry",
    description:
      "Desarrollo de una Single Page Application llamada Country App. La aplicación consume datos desde una base de datos y cuenta con los siguientes features: Detalle de los países, busquedas, filtrado por continentes y actividades que contengan dichos países, ordenamiento alfabeticamente y por población, paginado y formulario controlado. ",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3 ">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
  
</ol>
