<header class="flex justify-between items-center py-3 w-[1120px] mx-auto">
    <img class="rounded-full w-12 h-12" src="https://programming.dev/pictrs/image/1c58f3c9-37c9-4a5e-9690-fa879ced1eae.png" alt="my photo">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
    </nav>
</header>