<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto min-w-[590px] px-4">
    <img class="rounded-full w-12 h-12" src="https://programming.dev/pictrs/image/1c58f3c9-37c9-4a5e-9690-fa879ced1eae.png" alt="my photo">
    <nav class="flex flex-row gap-x-10 opacity-80 dark:text-black-200/90">
        <a href="#top">Inicio</a>
        <a href="#sobre-mi">Sobre mí</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#contacto">Contacto</a>
    </nav>
</header>