---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import MailIcon from "../components/icons/MailIcon.astro"
import Experience from "../components/Experience.astro"
import SectionContainer from "../components/SectionContainer.astro"
import BriefCaseIcon from "../components/icons/BriefCaseIcon.astro"
import CodeIcon from "../components/icons/CodeIcon.astro"
import Projects from "../components/Projects.astro"
import AboutMe from "../components/AboutMe.astro"
import ProfileCheckIcon from "../components/icons/ProfileCheckIcon.astro"
---

<Layout title="Portafolio de Francisco Alemán - Desarrollador y Programador Web" description="Contrata a Francisco Alemán para ayudar a tu empresa a desarrollar tus aplicaciones web. Especializado en el FrontEnd">
  <main class="px-4">
    <SectionContainer id="top" class="py-44 pb-32">
      <h1 class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
        Hola! Soy Francisco

        <a
          href="https://www.linkedin.com/in/francisco-javier-aleman-romero/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center hover:scale-105 transition"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px] text-black dark:text-white">
        <span class="text-yellow-800 dark:text-yellow-200/90">Desarrollador Web FullStack</span>,
        especializado en el desarrollo FrontEnd. Soy de Venezuela, actualmente vivo en <span class="text-blue-400 dark:text-blue-200/90">Buenos Aires, Argentina</span
        >.
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/francisco-javier">
          <LinkedInIcon class="size-4 md:w-6 md:h-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/Lemanz93">
          <GitHubIcon class="size-4 md:w-6 md:h-6" />
          Github
        </SocialPill>

        <SocialPill href="mailto:franciscoaleman1993@gmail.com">
          <MailIcon class="size-4 md:w-6 md:h-6" />
          franciscoaleman1993@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="sobremi">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <ProfileCheckIcon class="size-7" />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white">
        <BriefCaseIcon class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    
  </main>
</Layout>
